* {
    padding: 0px;
    margin: 0px;
}

/* ----login and register---- */

.header {
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

h1 {
    font-family: "Climate Crisis", sans-serif;
    font-size: 80px;
    color: darkseagreen;
}

h2 {
    font-family: "Climate Crisis", sans-serif;
    
}

span {
    font-family: "Climate Crisis", sans-serif;
    font-size: 20px;
    color: darkseagreen;
}
.col {
    flex-basis: 50%;
    min-width: 350px;
}

.form-container{
    width: 320px;
    height: 600px;
    display: flex;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 250px;
    padding: 0 20px;
    display: block;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#login_form{
    left: -300px;
}

#reg_form {
    left: 0;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    height: 3px;
    background: #555;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* -----dashboard page----- */

#dashboard {
    background: rgb(148, 191, 62);
}

.navbar {
    justify-content: end;
}

.navbar a {
    text-decoration: none;
    font-family: "Climate Crisis", sans-serif;
}

#dashboard .container {
    width: 100%;
    height: 100vh;
    background:url(img/meatloaf.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
   
}

.dash_header h1, h4 {
    font-size: 25px;
    color: black;
    margin-left: 6%;
    font-family: "Climate Crisis", sans-serif;
}

/* h4 {
    font-family: "Climate Crisis", sans-serif;
    color: black;
    margin-left: 10px;
   
} */


table {
    font-family: "Wix Madefor Display", sans-serif;
   
}

table a {
    font-family: "Wix Madefor Display", sans-serif;
}

table, th, td {
    background: #9c3c3c;
    text-align: center;
 
   
  }

/* -----view recipe----- */

#recipe {
    background: rgb(148, 191, 62 );
}

#recipe h1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

#recipe h2 {
    align-self: center;
}

#recipe .card {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 550px;
    border-radius: 10px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: bold;
    background: yellowgreen;
}

#recipe .card:hover{ 
    cursor: pointer;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}


#recipe img {
    margin: auto 5px;
    float: right;
}


/* -----new recipe----- */

#new_recipe {
    background: rgb(148, 191, 62 );
}

#new_recipe h1 {
    color: black;
}

#new_recipe img {
    margin-left: auto 10px;
    float:right;
    width:50%
}

#new_recipe h5 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: bold;
}



 #new_recipe .form-check {
    display:inline-flex;
    align-items: center;
    font-weight: bold;
}

#new_recipe .form-check input[type="radio"] {
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0
} 